@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

:root {
     --bgcoloor: white;
}

body{
    background-color: var(--bgcoloor);
    transition: backgroud 0.2s linear;
}
 body.dark{
     background: rgb(24, 24, 24);
 }

 .checkbox{
opacity: 0;
position: absolute;
 }

 .label{
     background-color: black;
     border-radius: 50px;
     cursor: pointer;

     display: flex;
     justify-content: space-between;

     padding: 5px;
     position: relative;
     height: 26px;
     width: 50px;

     transform: scale(1);
     
 }

 .label .ball{
     background-color: white;
     border-radius: 50%;
     position: absolute;
     top: 2px;
     left: 2px;

     height: 32px;
     width: 32px;

     transform: translateX(0px);
     transition: transform 0.2s linear;
 }

 .checkbox:checked + .label .ball{
     transform: translateX(24px);
 }

.link-tree {
display: flex;
flex-direction: column;
align-items: center;
width: 90vw;
margin:40px auto;
gap: 20px;
}

.link-tree img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.link-tree h1{ 
    font-size: 2.5rem;
}

.link-tree a {
background-color:black ;
color: var(--bgcoloor);
width: 50%;
padding: 15px;
text-decoration: none;
text-transform: uppercase;
font-size: 1.1rem;
font-weight: bold;
border: solid 2px black;
}

.link-tree a:hover{
    background-color:rgb(56, 59, 58);
    color: solid 2px black;
}

.link-tree {
    width: 40vw;
}

.redes{
    display: flex;
    justify-content: center;
    width: 90vw;
    margin:40px auto;
    gap: 20px;
}

.redes a {
    background-color:black ;
    color: var(--bgcoloor);
    width: 7%;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 2px black;
}

.redes a:hover{
    background-color:rgb(56, 59, 58);
    color: solid 2px black;
}



