@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: 'Karla', sans-serif;
}

:root {
     --bgcoloor: white;
}

body{
    background-color: var(--bgcoloor);
}

.github{
    display: flex;
    justify-content: right;
    position: absolute;
    width: 90vw;
    margin:40px auto;
    gap: 20px;
}

.github a {
    background-color:black ;
    color: var(--bgcoloor);
    width: 5%;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 2px black;
}

.github a:hover{
    background-color:rgb(56, 59, 58);
    color: solid 2px black;
}

.link-tree {
display: flex;
flex-direction: column;
align-items: center;
width: 90vw;
margin:40px auto;
gap: 20px;
}

.link-tree img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.link-tree h1{ 
    font-size: 2.5rem;
}

.link-tree a {
background-color:black ;
color: var(--bgcoloor);
width: 50%;
padding: 15px;
text-decoration: none;
text-transform: uppercase;
font-size: 1.1rem;
font-weight: bold;
border: solid 2px black;
}

.link-tree a:hover{
    background-color:rgb(56, 59, 58);
    color: solid 2px black;
}

.link-tree {
    width: 40vw;
}

.redes{
    display: flex;
    justify-content: center;
    width: 90vw;
    margin:40px auto;
    gap: 20px;
}

.redes a {
    background-color:black ;
    color: var(--bgcoloor);
    width: 7%;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 2px black;
}

.redes a:hover{
    background-color:rgb(56, 59, 58);
    color: solid 2px black;
}



